*{
    box-sizing: border-box;
    outline: 1px solid limegreen !important; 
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 75%;
    height: 500px;
}

.classic{
    background-color: red;
    width: 30%;
    height: 100%;
}

.survival{
    background-color: violet;
    width: 30%;
    height: 100%;

}

.speedrun{
    background-color: salmon;
    width: 30%;
    height: 100%;

}